<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936469044471-l8vg7k3nl9v171f06q2lm314m6j4pt6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936469044471-l8vg7k3nl9v171f06q2lm314m6j4pt6h</string>
	<key>API_KEY</key>
	<string>AIzaSyCn3Dn_5eqRyAH91fPqn_xZLVnIa4kbH74</string>
	<key>GCM_SENDER_ID</key>
	<string>936469044471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterappchat</string>
	<key>PROJECT_ID</key>
	<string>fir-chatapp-4a0a8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatapp-4a0a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936469044471:ios:2c80014b7c839a54ba07f2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chatapp-4a0a8.firebaseio.com</string>
</dict>
</plist>